@import "tailwindcss";

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
.animate-swing {
  animation: swing 2s ease-in-out infinite;
  transform-origin: top center;
}
